<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<div>
  <strong>Content:</strong>
  <%= @post.content %>
  <%= sanitize @post.content %>
</div>

<p>
  <strong>Category:</strong>
  <%= @post.category.name %>
</p>

<%= link_to 'Back', posts_path %>

